.page-header {
    border-width: 3px;
}
main {
    padding: 0;
    display: grid;
    grid-template-columns: 1.1fr 2fr;
}
main .square {
	display: block;
    background-color: var(--secondary-color);
    border-right: 3px solid var(--line-color);
}
.description {
    padding: 25px 30px;
}
.contact {
    border-top-width: 3px;
    border-bottom-width: 2px;
}
.contact__contacts .btn {
    border-width: 3px;
}
.skils-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: stretch;
}
.skils-section .next-section-title{
    height: 100%;
    margin: 0;
    border-top: 2px solid var(--line-color);
}
.list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.proyects-modal {
    --modal-border: 3px solid var(--line-color);
}
.proyects-modal__header .line {
    border-width: 2px;
}
.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
}