.description .color { 
    width: 30vw;
}
.description .text {
    width: 70vw;
}
.description .text h1 {
    font-size: 20ch;
    line-height: 120px;
}
.about-me main {
    width: 65vw;
}
.social-media div {
    width: 60vw;
}
.tools .tool-list {
    padding: 0 25vw;
}
.proyects-modal {
    --modal-border: 3px solid var(--line-color);
}
.proyects-modal__header .line {
    border-width: 2px;
}
.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
}