*{box-sizing: border-box;margin: 0; padding: 0;}

.theme--light {
    --font-color: #000;
    --line-color: #000;
    --primary-color: #f0e6d8;
    --secondary-color: #B51C17;
}
::selection {
    background-color: #999dbe;
}
span {
    display: inline-block;
}
b {
    font-weight: 500;
}
strong {
    font-weight: 700;
}
body {
    --border: 2px solid var(--line-color);
    background-color: #F7F9FB;
    color: var(--font-color);
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
}
.description {
    width: 100%;
    height: 70vh;
    padding: 0 4vw;
    display: flex;
    align-items: center;
    justify-content: left;
}
.description .text {
    width: auto;
    height: auto;
    padding-inline: 12px;
    padding-block-start: 7vw;
    padding-block-end: 6vw;

    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    cursor: default;
    border: var(--border);
    border-radius: 4px;
    background-color: var(--primary-color);
}
.description .text h1 {
    display: inline-block;
    font-size: 12ch;
    line-height: 70px;
    color: var(--font-color);
}
.description .text h2 {
    display: inline-block;
    margin-block-start: 16px;
    padding-inline-start: 6px;
    font-size: 5ch;
    line-height: 60px;
    color: var(--font-color);
}

/*  */

.projects-section {
    width: 100%;
    border-block: var(--border);
    background-color: var(--primary-color);
}
.projects-section h2 {
    padding-block: 20px;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    font-size: 3.2ch;
}
.projects {
    width: 100%;
    padding: 10px 0;
    --modal-border: var(--border);
	list-style: none; 

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}
.project {
    display: inline-block;
    width: 90%;
    height: auto;
    margin: 2px 7px 15px;
    font-family: 'IBM Plex Mono', monospace;
    border: var(--modal-border);
    background: #F7F9FB;
}
.project__texts {
    padding: 10px 10px 10px 15px;
    text-align: left;
}
.project__title {
    font-size: 2.8ch;
    font-weight: 700;
}
.project__description {
    font-size: 2.1ch;
    font-weight: 200;
}
.skils {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    border-top: var(--modal-border);
}
.skils__skil{
    padding: 5px 10px;
    display: grid;
    place-items: center;
    font-size: 1.5ch;
    font-weight: 700;
    text-align: center;
    color: var(--font-color);
    border-right: var(--modal-border);
    border-left: var(--modal-border);
    border-width: 1px;
}
.skils__skil:first-child {
    border-left: var(--modal-border);
}
.skils__skil:last-child {
    border-right: var(--modal-border);
}
.project__img-container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 330px;
    max-height: 350px;
    padding: 5px;
    border-top: var(--modal-border);
}
.project__img-container img {
    object-fit: contain;
    width: 100%;
    height: 100%;
	filter: grayscale(100%) ;
	transition: filter .4s ease;
}
.project__img-container img:hover {
	filter: grayscale(0);
}
.actions {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: var(--modal-border);
}
.actions__action {
    padding: 5px 10px;
    font-size: 1.5ch;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    color: var(--font-color);
    transition: box-shadow .5s ease-out;
}
.actions__action:hover {
    box-shadow: inset 0 -100px 0 0 var(--secondary-color)
}
.actions__action:first-child {
    border-right: var(--modal-border);
    border-left: var(--modal-border);
}
.actions__action:last-child {
    border-right: var(--modal-border);
}

/*  */

.about-me {
    width: 100%;
    padding: 10vw;
    display: grid;
    place-items: center;
}
.about-me main {
    display: block;
    width: 80vw;
    font-size: 2ch;
    font-family: 'IBM Plex Mono', monospace;
    background: var(--primary-color);
    border: var(--border);
}
.about-me main header {
    padding: 8px 12px;
    padding-right: 4px;
    border-block-end: var(--border);
}
.about-me main .text {
    padding: 8px 12px;
    padding-right: 4px;

}

/* */

.social-media {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-block: var(--border);
}

.social-media main {
    display: flex;
    flex-direction: column;
}
.social-media .link {
    padding: 8px 12px;
    border-inline-start: var(--border);
}
.social-media .link--cv {
    margin-block: 14px;
}
.social-media link:not(:last-child){
    border-block-end: var(--border);
}
.social-media main header {
    display: flex;
    flex-direction: column;

}
.social-media main footer {
    display: flex;
    flex-direction: column;

}