*{box-sizing: border-box;margin: 0; padding: 0;}

.theme--light {
    --font-color: #000;
    --line-color: #000;
    --primary-color: #faefd1; /*F7F9FB*/
    --secondary-color: #990808;
}
::selection {
    background-color: #999dbe;
}
span {
    display: inline-block;
}
b {
    font-weight: 500;
}
strong {
    font-weight: 700;
}
body {
    --border: 2px solid var(--line-color);
    --section-title-font-size: 3.2ch;
    --max-width-containers: 600px;
    --padding-X-in-containers: 4vw;
    background-color: var(--primary-color);
    color: var(--font-color);
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
}

.description {
    width: 100%;
    height: 74vh;
    
    display: grid;
    place-items: center;

    background-color: var(--secondary-color);
}

.text {
    max-width: 800px;
    padding: 0 4vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text__text {
    width: 100%;
    max-height: 200px;
    padding-inline: 12px;
    padding-block-start: 7vw;
    padding-block-end: 6vw;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    cursor: default;
    border: 4px solid var(--line-color);
    background-color: var(--primary-color);
}
.text__text h1 {
    display: block;
    margin-block: 6px 4px;
    font-size: 12ch;
    line-height: 70px;
    font-weight: 700;
    color: var(--font-color);
}
.text__text h2 {
    display: block;
    margin-block-start: 8px;
    padding-inline-start: 6px;
    font-weight: 700;
    font-size: 5ch;
    line-height: 60px;
    color: var(--font-color);
}
.text__color {
    width: 100%;
    background: var(--secondary-color);
    border-inline: 4px solid var(--line-color);
    border-bottom: 4px solid var(--line-color);
}
.text__color p {
    padding-block: 26px 5px;
    padding-inline-start: 6px;
    font-weight: 700;
}

/*  */

.icon-container {
    width: 100%;
    height: 8vh;
    display: grid;
    place-items: center;
    background: var(--secondary-color);
}
.icon-container .bi {
    font-size: 3ch;
}

.bouncer-animation {
	translate: 0 -2rem;
	animation: bounce 900ms 3 alternate-reverse;
	animation-delay: 1s;
}
@keyframes bounce {
	0% {
		translate: 0 -2rem;
	}
	30% {
		translate: 0 0;
	}
	60%{
		translate: 0 -0.8rem;
	}
	100% {
		translate: 0 0;
	}
}

/*  */

.projects-section {
    width: 100%;
    border-block: var(--border);
    background-color: var(--primary-color);
}
.projects-section h2 {
    padding-block: 20px;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    font-size: var(--section-title-font-size); 
}
.projects {
    width: 100%;
    padding-inline: 10px;
    padding-block: var(--padding-X-in-containers);
    --modal-border: var(--border);
	list-style: none; 

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}
.project {
    display: inline-block;
    max-width: var(--max-width-containers);
    height: auto;
    margin: 2px 7px 15px;
    font-family: 'IBM Plex Mono', monospace;
    border: var(--modal-border);
    background: #F7F9FB;
}
.project__texts {
    padding: 10px 10px 10px 15px;
    text-align: left;
}
.project__title {
    font-size: 2.8ch;
    font-weight: 700;
}
.project__description {
    font-size: 2.1ch;
    font-weight: 200;
}
.skils {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    border-top: var(--modal-border);
}
.skils__skil{
    padding: 5px 10px;
    display: grid;
    place-items: center;
    font-size: 1.3ch;
    font-weight: 700;
    text-align: center;
    color: var(--font-color);
    border-right: var(--modal-border);
    border-left: var(--modal-border);
    border-width: 1px;
}
.skils__skil:first-child {
    border-left: var(--modal-border);
}
.skils__skil:last-child {
    border-right: var(--modal-border);
}
.project__img-container {
    display: grid;
    place-items: center;
    width: 100%;
    max-height: 300px;
    padding: 8px 5px;
    border-top: var(--modal-border);
}
.project__img-container img {
    object-fit: contain;
    width: 100%;
    max-height: 290px;
}
.actions {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: var(--modal-border);
}
.actions__action {
    padding: 5px 10px;
    font-size: 1.5ch;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    color: var(--font-color);
    transition: color, text-decoration .5ms ease-out;
}
.actions__action:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}
.actions__action:first-child {
    border-right: var(--modal-border);
    border-left: var(--modal-border);
}
.actions__action:last-child {
    border-right: var(--modal-border);
}

/*  */

.about-me {
    width: 100%;
    padding: 6vw var(--padding-X-in-containers);
    display: grid;
    place-items: center;
    border-block-end: var(--border);
    background: var(--secondary-color);
}
.about-me main {
    display: block;
    max-width: var(--max-width-containers);
    font-size: 2ch;
    font-family: 'IBM Plex Mono', monospace;
    background: var(--primary-color);
    border: var(--border);
}
.about-me main header {
    padding: 8px 12px;
    padding-right: 4px;
    border-block-end: var(--border);
}
.about-me main .text {
    padding: 8px 12px;
    padding-right: 4px;

}

/*  */

.tech-list-section {
    width: 100%;
    height: auto;
    padding: 10px;
    padding-block: var(--padding-X-in-containers);
    display: grid;
    place-items: center;
    border-bottom: var(--border);
    background: var(--primary-color);
}
.tech-list-section__container{
    max-width: var(--max-width-containers);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tech-list-section__title {
    width: 100%;
    padding-inline-start: 4px;
    margin-block-end: 10px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: var(--section-title-font-size);
    font-weight: 700;
    text-align: center;
}
.tech-list {
    max-width: var(--max-width-containers);
    min-width: 300px;
    padding-inline-start: 12px;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.tech-list__tech {
    display: inline-block;
    padding-block: 4px;
    padding-inline: 6px;
    margin: 4px;
    text-align: center;
    font-size: 1.6ch;
    font-weight: 400;
    font-family: 'IBM Plex Mono', monospace;
    border: var(--border);
    border-radius: 10px;
}

.tool-list-section {
    width: 100%;
    height: auto;
    padding: 10px;
    padding-block: var(--padding-X-in-containers);
    display: grid;
    place-items: center;
    background: var(--primary-color);
}
.tool-list-section__container{
    max-width: var(--max-width-containers);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tool-list-section__title {
    padding-inline-start: 4px;
    margin-block-end: 10px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: var(--section-title-font-size);
    font-weight: 700;
    text-align: center;
}
.tool-list {
    max-width: var(--max-width-containers);
    min-width: 300px;
    padding-inline-start: 12px;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.tool-list__tool {
    display: inline-block;
    padding-block: 4px;
    padding-inline: 6px;
    margin: 4px;
    text-align: center;
    font-size: 1.6ch;
    font-weight: 400;
    font-family: 'IBM Plex Mono', monospace;
    border: var(--border);
    border-radius: 10px;
}

/* */

.social-media {
    display: grid;
	justify-content: left;
	flex-direction: row;
    border-block: var(--border);
    background: var(--secondary-color);
}
.social-media main {
	width: 56vw;
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
	padding-left: 20vw;
}
.social-media .link {
    padding: 10px 14px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2ch;
    font-weight: 700;
    text-align: left;
    text-decoration: underline;
    border-inline: var(--border);
    transition: ease 3ms color;
    color: var(--font-color);
}
.social-media .link:hover {
    color: var(--secondary-color);
}
.link--share-btn {
    margin-block: 14px;
    border: none;
    background: var(--primary-color);
}
.link--hide {
    display: none;
    opacity: 0;
}
.social-media link:not(:last-child){
    border-block-end: var(--border);
}
.social-media main header {
    display: flex;
    flex-direction: column;

}
.social-media main footer {
    display: flex;
    flex-direction: column;
}