*{box-sizing: border-box;margin: 0; padding: 0;}

:root {
    --border: 2px solid var(--line-color);
    --max-width-containers: 600px;
    /* Colors */
    --accent-color: #FDCE7D;
    --font-color: #202020;
    --line-color: #202020;
    --primary-color: #FEF9F2; /*F7F9FB*/
    --secondary-color: #c54c5e;
    --project-card-color: #F7F9FB;
    --project-font-color: #202020;
}
::selection {
    background-color: var(--accent-color);
}
span {
    display: inline-block;
}
html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding: 0;
}
body {
    background-color: var(--primary-color);
    color: var(--font-color);
    font-family: 'IBM Plex Sans', sans-serif;
    
}
body::-webkit-scrollbar {
    width: 9px;
}
body::-webkit-scrollbar-track {
    background-color: var(--primary-color);
    border-radius: 4px;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 0;
}
@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--secondary-color) var(--primary-color);
    }
}

.very-strong {
    font-weight: 700;
}

.border {
    border: var(--border);
    border-radius: 0;
}

h2 {
    font-size: 2rem;
    line-height: 2.1rem;
    font-weight: 200;
    color: var(--font-color);
    font-family: 'IBM Plex Mono', monospace;
}

h3 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 700;
    color: var(--font-color);
}

p {
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: 200;
    color: var(--font-color);
}
p:first-child:nth-last-child(n+1) ~ p {
    margin-block-start: .6em;
}

.bi  {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.bi-chevron-down {
    width: 1.6rem;
    height: 1.6rem;
    background-image: url('./chevron-down-icon.svg');
}
.bi-github {
    width: 1.2rem;
    height: 1.2rem;
    background-image: url('./github-icon.svg');
}

.description {
    width: 100%;
    height: 74vh;
    
    display: grid;
    place-items: center;

    background-color: var(--secondary-color);
}

.text {
    max-width: 900px;
    padding: 0 2vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text h1 {
    width: 100%;
    padding-inline: 2vw;
    padding-block: 4vw;
    
    font-family: 'IBM Plex Mono', monospace;
    text-align: left;
    font-size: clamp(5rem, 6vw + 1rem, 8rem);
    line-height: clamp(5.2rem, 6vw + 1rem, 8.2rem);
    border: 4px solid var(--line-color);
    background-color: var(--primary-color);
}
.text h2 {
    display: block;
    padding-inline-start: 6px;
    width: 100%;
    font-size: 2.6ch;
    line-height: 3ch;
    color: var(--font-color);
    background: var(--secondary-color);
    border-inline: 4px solid var(--line-color);
    border-bottom: 4px solid var(--line-color);
}

/*  */

.icon-container {
    width: 100%;
    height: 8vh;
    display: grid;
    place-items: center;
    background: var(--secondary-color);
}
.icon-container .bi {
    font-size: 3ch;
}

.bouncer-animation {
	animation: bounce 1.5s ease 3;
	animation-delay: 200ms;
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

/*  */

.projects-section {
    width: 100%;
    border-top: var(--border);
    background-color: var(--primary-color);
}
.projects-section h2 {
    padding-block: 20px;
    text-align: center;
}
.projects {
    width: 100%;
    padding-inline: 10px;
    padding-block: 4vw;
    --modal-border: var(--border);
	list-style: none; 

    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.project {
    display: inline-block;
    max-width: var(--max-width-containers);
    height: auto;
    margin: 16px 6px;
    font-family: 'IBM Plex Mono', monospace;
    background: var(--project-card-color);
}
.project__texts {
    padding: 6px 16px 16px;
    text-align: left;
}
.skils {
    height: auto;
    width: 100%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;

    font-size: 1rem;
    line-height: 1.1rem;
    list-style: none;
    border-top: var(--border);
}
.skils li:first-child:before {
    content: ' * ';
}
@media only screen and (min-width: 500px) {
    /* Vista en computadora */
    .skils {
        flex-direction: row;
        gap: 14px;
    }
    .skils li:first-child:before {
        content: '';
    }
}
.project__img-container {
    display: grid;
    place-items: center;
    width: 100%;
    min-height: 300px;
    padding: 8px 5px;
    border-top: var(--modal-border);
}
.project__img-container img {
    object-fit: contain;
    width: 100%;
    min-height: 290px;
}
.actions {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-top: var(--modal-border);
    background-color: var(--secondary-color);
}
.actions__action {
    display: grid;
    place-items: center;
    padding: 6px 10px;
    font-size: 1.1rem;
    line-height: 1.2rem;
    text-decoration: none;
    text-align: center;
    border-right: var(--modal-border);
    border-width: 2px;
    color: var(--font-color);
    background: var(--project-card-color);
    transition: background, text-decoration .500ms ease-out;
}
.actions__action.github-action {
    padding-inline: 22px;
}
.actions__action .bi {
    padding: 4px 10px 1px;
}
.actions__action:hover {
    background: #FDCE7D;
    text-decoration: underline;
}
.actions__action:last-child {
    border-right: var(--modal-border);
}

/*  */

.my-content {
    width: 100%;
    height: auto;
    padding: 2rem 16px 5rem;
    border-bottom: var(--border);
}
.my-content main {
    width: 100%;
    height: auto;

    display: grid;
    place-items: center;
}
.content-card {
    display: inline-block;
    max-width: var(--max-width-containers);
    padding: 14px;

    color: var(--font-color);
    background-color: var(--primary-color);
    text-decoration: none;
    word-spacing: 0.15em;
    font-family: 'IBM Plex Mono', monospace;
    transition: background, text-decoration .500ms ease-out;
}
.content-card:hover {
    background: var(--accent-color);
}
.content-card:hover header {
    text-decoration: underline;
}
.content-card:first-child {
    margin-bottom: 2rem;
}
.content-card header {
    margin-bottom: 4px;
    font-size: 1.5rem;
    line-height: 1.7rem;
    color: var(--font-color);
}

/*  */
.about-me {
    width: 100%;
    padding: 6rem 1rem;
    display: grid;
    place-items: center;
    border-block-end: var(--border);
    background: var(--secondary-color);
    font-family: 'IBM Plex Mono', monospace;
}
.about-me main {
    display: block;
    max-width: var(--max-width-containers);
    background: var(--primary-color);
}
.about-me main header {
    padding: 12px 14px;
    border-block-end: var(--border);
}
.about-me main .text {
    padding: 12px 14px;
}

/* */

.social-media {
    width: 100%;
    padding: 2rem;
    display: grid;
    place-items: center;
    border-bottom: var(--border);
    background: var(--primary-color);
    font-family: 'IBM Plex Mono', monospace;
}
.social-media header {
    text-align: center;
    margin-bottom: 2rem;
}
.social-media main {
    max-width: var(--max-width-containers);
    background: var(--primary-color);
}
.social-media .link {
    display: inline-block;
    width: 100%;
    padding: 4px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    transition: background, text-decoration .500ms ease-out;
    color: var(--font-color);
    border: var(--border);
}
.social-media .link:not(:last-child) {
    margin-bottom: 8px;
}
.social-media .link:hover {
    background: #FDCE7D;
    text-decoration: underline;
}
.social-media link:not(:last-child){
    border-block-end: var(--border);
}